---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded:200,300,400');

$text-color:       #111;
$background-color: #ffffff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$image-post-border-color: #9717bb;
$post-date-color: #f12f46;

$degrade-color-1: #f12f46;
$degrade-color-2: #cf2976;
$degrade-color-3: #9f18b0;
$degrade-color-4: #6b07d4;
$pagination-link-color: #8a24d9;
$pagination-visited-link-color: #5f139a;

@import
        "tailwind",
        "layout",
        "syntax-highlighting"
;
