---
layout: default
---

<main class="page-container">
    {% for post in paginator.posts %}
        <div class="post-item">
            <div class="post-content" alt="{{ post.title }}">
                <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                    <div class="cover-image">
                        <img class="post-image" height="100" width="100" src="{{ post.image }}" alt="Image of {{ post.title }}"/>
                    </div>
                </a>
                <div class="post-details">
                    <div class="post-date">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </a>
                    </div>
                    <div class="post-description">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link">
                            {{ post.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
                Previous
            </a>
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
            <span class="page_number ">
                Page: {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
    </div>
</main>
