---
layout: default
---

<main class="page-container container m-auto lg:flex lg:flex-col">
    {% for post in paginator.posts %}
        <div class="p-5 w-4/5 m-auto lg:w-1/2">
            <div class="post-content" alt="{{ post.title }}">
                <a href="{{ post.url | prepend: site.baseurl }}" class="post-link no-underline hidden sm:block">
                    <div class="cover-image">
                        {% if post.image %}
                            <img class="post-image rounded-full" height="100" width="100" data-src="{{ post.image }}" alt="Image of {{ post.title }}"/>
                        {% else %}
                            <div class="post-image rounded-full flex justify-center items-center">
                                <span class="text-3xl font-bold text-marabesi-purple">{{ post.title | slice: 0 | capitalize }}</span>
                            </div>
                        {% endif %}
                    </div>
                </a>

                <div class="post-details">
                    <div class="post-date font-bold">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link no-underline hover:underline">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </a>
                    </div>
                    <div class="post-description pt-2">
                        <a href="{{ post.url | prepend: site.baseurl }}" class="link no-underline hover:underline">
                            {{ post.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination p-5 w-4/5 m-auto lg:w-1/2">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">
                Previous
            </a>
        {% else %}
            <span class="previous">Previous</span>
        {% endif %}
            <span class="page_number ">
                Page: {{ paginator.page }} of {{ paginator.total_pages }}
            </span>
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
        {% else %}
            <span class="next ">Next</span>
        {% endif %}
    </div>
</main>
