<nav class="top-menu">
    <a href="{{ site.url }}">
        <img class="logo" src="/images/logo.png" width="100"/>
    </a>

    <ul class="container">
        {% for my_page in site.pages %}
            {% if my_page.title %}
            {% unless my_page.url contains 'bower_components' %}
                <li class="item">
                    <a class="item-link" href="{{ my_page.url | prepend: site.baseurl }}">
                        {{ my_page.title }}
                    </a>
                </li>
            {% endunless %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>
