<nav class="top-menu">
    <a href="{{ site.url }}">
        <img class="logo" src="/images/logo.png" width="100"/>
    </a>

    <ul class="container">
        {% for my_page in site.pages %}
            {% if my_page.title %}
            {% unless my_page.url contains 'bower_components' %}
                <li class="item">
                    <a class="item-link" href="{{ my_page.url | prepend: site.baseurl }}">
                        {{ my_page.title }}
                    </a>
                </li>
            {% endunless %}
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<ins class="adsbygoogle ads-style" 
    data-ad-client="ca-pub-4464092086775263"
    data-ad-slot="3786833122"
    data-ad-format="auto"
    data-full-width-responsive="true">
</ins>