.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .container {
        text-decoration: none;

        .item {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            padding-left: 20px;

            .item-link {
                text-transform: uppercase;
            }
        }

        .item:nth-child(1n) a:nth-child(1n) {
            color: #f12f46;
        }

        .item:nth-child(2n) a:nth-child(1n) {
            color: #cf2976;
        }

        .item:nth-child(3n) a:nth-child(1n) {
            color: #c9257b;
        }

        .item:nth-child(4n) a:nth-child(1n) {
            color: #9717bb;
        }

        .item:nth-child(5n) a:nth-child(1n) {
            color: #9717bb;
        }

        .item:nth-child(6n) a:nth-child(1n) {
            color: #8316d7;
        }

        .item:nth-child(7n) a:nth-child(1n) {
            color: #8316d7;
        }
    }
}

.banner-highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: linear-gradient(
        to right, 
      #f12f46, 
      #cf2976, 
      #9f18b0, 
      #6b07d4
    );
    color: #ffffff;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    padding-bottom: 90px;
    font-weight: 100;
    position: relative;

    .title {
        font-size: 2.8em;
    }
}

.page-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
    min-height: 100%;

    .post-item {
        margin: auto auto 20px auto;
    }

    .post-content {
        display: flex;
        flex-flow: row;
        min-width: 500px;
        max-width: 500px;
        border-bottom: solid 1px #918f91;

        .post-image {
            clip-path: circle(50px at center);
            margin-right: 20px;
        }

        .post-link {
            padding: 10px;
        }

        .post-details {
            display: flex;
            justify-content: center;
            flex-flow: column;
            font-weight: 100;

            .post-date .link {
                color: #ff0060;
                font-size: 14px;
            }

            .post-description .link {
                color: #918f91;
                font-size: 1.5em;
            }
        }
    }
}

.page-content {
    display: flex;
    flex-flow: column;
    margin: auto;
    min-height: 100%;
    max-width: 800px;

    h1, h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: #ee3b57;
        font-weight: lighter;
    }

    p {
        padding: 10px;
    }
}

.about-picture {
    margin-top: -200px;
}

.footer {
    position: absolute;
    height: 50px;
    background: #f12f46;
    color: #ffffff;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    .footer-details {
        font-weight: 100;
    }
}

@media (max-width: 820px) {
    .top-menu {
        display: none;
    }

    .banner-highlight {
        .title {
            font-size: 1.8em;
        }
    }
}

.ads-style {
    display: flex;
    height: 90px;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 540px) {
    .banner-highlight {
        height: 150px;
        padding-bottom: 30px;

        .title {
            font-size: 1em;
        }

        .author {
            font-size: 12px;
        }
    }
    
    .page-container {
        .post-content {
            min-width: 400px;
            max-width: 400px;
        }
    }
}

@media (max-width: 410px) {
    .page-container {
        .post-content {
            min-width: auto;
            max-width: auto;
        }
    }
}
