img {
    display: block;
    margin: 0 auto;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:visited {
    color: #1756a9;
}

table {
    width: 100%;

    td, th {
        padding: 5px;
    }

    th {
        color: #fff;
        background-color: $th-background;
        padding: 10px;
        text-align: left;
    }

    tr:nth-child(even) {
        background: #EEF
    }
    
    tr:nth-child(odd) {
        background: #FFF
    }
}

main ul li {
    margin: 20px;
}

.top-menu {
    align-items: center;

    .container-menu {
        .item {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;

            .item-link {
                text-transform: uppercase;
            }
        }

        .item:nth-child(1n) a:nth-child(1n) {
            color: $degrade-color-1;
        }

        .item:nth-child(2n) a:nth-child(1n) {
            color: $degrade-color-2;
        }

        .item:nth-child(3n) a:nth-child(1n) {
            color: $degrade-color-3;
        }

        .item:nth-child(4n) a:nth-child(1n) {
            color: $image-post-border-color;
        }

        .item:nth-child(5n) a:nth-child(1n) {
            color: $image-post-border-color;
        }

        .item:nth-child(6n) a:nth-child(1n) {
            color: $degrade-color-4;
        }

        .item:nth-child(7n) a:nth-child(1n) {
            color: $degrade-color-4;
        }
    }
}

.banner-highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-image: linear-gradient(
        to right, 
        $degrade-color-1,
        $degrade-color-2,
        $degrade-color-3,
        $degrade-color-4,
    );
    color: $background-color;
    height: 290px;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
    padding-bottom: 90px;
    font-weight: 100;
    position: relative;
}

.page-container {
    .post-content {
        display: flex;
        flex-flow: row;

        .post-image {
            border: 3px solid $image-post-border-color;
            min-width: 100px;
            max-width: 100px;
            height: 100px;
        }

        .post-link {
            padding: 10px;
            height: 120px;
            margin-right: 20px;
        }

        .post-details {
            display: flex;
            justify-content: center;
            flex-flow: column;
            font-weight: 100;

            .post-date .link {
                color: $post-date-color;
                font-size: 14px;
            }

            .post-description .link {
                color: $grey-color;
                font-size: 1.5em;
            }
        }
    }
}

.page-content {
    min-height: 100%;

    h1, h2, h3 {
        margin-top: 30px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: $post-date-color;
        font-weight: lighter;
    }

    p {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.about-picture {
    margin-top: -200px;
}

.about > p > a > img {
    display: inline;
}

.footer {
    position: absolute;
    height: 50px;
    background: $post-date-color;
    color: $background-color;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    .footer-details {
        font-weight: 100;
    }
}

.ads-style {
    display: flex;
    height: 90px;
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    color: $pagination-link-color;
    margin-top: 20px;

    a, a:visited {
        color: $pagination-visited-link-color;
    }

    .page_number {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.open {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}