<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <app-drawer-layout>
      <app-toolbar>
        <paper-icon-item>
          <iron-icon icon="menu"></iron-icon>
        </paper-icon-item>
      </app-toolbar>

      <sample-content size="100">
        {{ content }}
      </sample-content>

    <app-drawer swipe-open>
      <a href="{{ site.url }}" tabindex="-1">
        <iron-image src="/images/marabesi.svg"></iron-image>
      </a>

      <paper-menu>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% unless my_page.url contains 'bower_components' %}
              <a class="paper-item-link" href="{{ my_page.url | prepend: site.baseurl }}">
                <paper-item>
                  {{ my_page.title }}
                </paper-item>
              </a>
            {% endunless %}
          {% endif %}
        {% endfor %}
      </paper-menu>
    </app-drawer>

  </app-drawer-layout>

  {% include analytics.html %}

  <script async src="/src/main.js"></script>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>
