<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <app-toolbar>
      <paper-icon-button icon="menu"></paper-icon-button>
    </app-toolbar>

    <sample-content size="100">
      {{ content }}
    </sample-content>

    <app-drawer swipe-open>

      <a href="{{ site.url }}" tabindex="-1">
        <iron-image src="/images/marabesi.svg"></iron-image>
      </a>

      <paper-menu>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <a class="paper-item-link" href="{{ my_page.url | prepend: site.baseurl }}">
              <paper-item>{{ my_page.title }}</paper-item>
            </a>
          {% endif %}
        {% endfor %}
      </paper-menu>
    </app-drawer>

    <script>
      var drawer = document.querySelector('app-drawer');
      document.querySelector('paper-icon-button').addEventListener('tap', function() {
        drawer.toggle();
      });
    </script>

  {% include analytics.html %}
  </body>

</html>
